<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Reviews</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
  <nav class="navbar has-background-link-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-flex flex-wrap">
    <h1 class="is-flex is-flex-wrap-wrap navbar-item title">Travel Blog and Reviews!</h1>
  </div>

  {{!-- <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a href="/" class="navbar-item">
        Home
      </a>
      <a href="/" class="navbar-item">
        Logout
      </a>
    </div> --}}
        
    {{#if logged_in}}
    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a href="/login" class="navbar-item">
        Home
      </a>
      <a href="/profile" class="navbar-item">
        Profile
      </a>
      <a href="/" class="navbar-item" id="logout">
        Logout
      </a>
    </div>
    {{/if}}
      
    </div>
  </nav>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="footer has-background-link-primary block">
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
