<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Reviews</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css"> --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
  <div>
    <header class="hero navbar-menu has-background-link-light block">
      <h1 class="title">Travel Blog & Reviews!</h1>
        <!-- Conditionally render login or logout links -->
        <div class="navbar-end subtitle">
        {{#if logged_in}}
        <a href="/profile">profile</a> 
        <button class="button">logout</button>
        {{else}}
        <div class="navbar-item">
        <a href="/login">login</a>
        </div>
        {{!-- add blog link --}}
        {{/if}}
        </div>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="footer has-background-link-light block">
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
