<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Reviews</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
  <div class="block">
    <header class="navbar block has-background-link-light">
      <h1 class="navbar-item title is-2 has-text-grey">Travel Blog & Reviews!</h1>
        <!-- Conditionally render login or logout links -->
        <div class="subtitle">
          {{#if logged_in}}
          <div class="navbar-item">
            <a href="/home">Home Page</a> 
          </div>
          <div class="navbar-item">
            <button class="button">Logout</button>
            {{else}} 
          </div>
          
          {{!-- <div class="navbar-item">
            <a href="/blog">Blog/Reviews</a>
          </div> --}}
            {{/if}}
        </div> 
    </header>
  </div>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="footer has-background-link-light block">
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
