{{#each blogs as |blog|}}
{{> blog-details}}
{{/each}}
<div class="columns is-centered m-3">
   <div class="column m-3 is-one-quarter">

    <div class="box block is-half is-mobile is-centered is-vcentered">
        <h2 class="block subtitle">Read reviews of various countries.</h2>
        <form>
        <div class="field">
            <button class="button is-primary" type="submit">Read Reviews</button>
        </div>
        </form>
  </div>

</div>
  
    <div class="column m-3 is-one-quarter ">
        <div class="box block is-half is-mobile is-centered is-vcentered">
                <h2 class="block subtitle">Write a review of a country you've visited.</h2>
            <form>
                <div class="field">
                    <button class="button is-primary" type="submit">Write Review</button>
                </div>
            </form>
        </div>    
    </div>

  </div>
</div>