<div class="columns p-2">
    <div class="column">
      
      <h2>Profile</h2><br>
      <p id="user-id">ID: {{ id }}</p>
      <p id="user-name">Name:{{ username }}</p>
      <p id="user-email">Email: {{ email }}</p>
      <br>
      <button class= "button is-primary my-3" type="submit" value="submit">EDIT</button>
    </div>
  </div>

