{{!-- drop down counties list --}}
<div class="field select">
  <select class="field has-text-centered" id="country-select">
    <option>Select Country</option>
  </select>
</div>

{{!-- blog posts per country --}}

<div>
  
</div>