<p>read reviews page</p>

{{!-- create drop down list of coiuntries to search by destination --}}
<div class="dropdown is-active">
  <div class="dropdown-trigger">
    <button class="button">
      <span>Please Select a Destination to Review</span>
    </button>
  </div>
</div>